* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 80vh;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.modale{
    p{
        strong{
        color: rgb(0, 70, 15);
        }
        color: white;
        font-size: 20px;
        padding: 2px 15px;
    }

    h1{
        text-align: center;
    }
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    width: 400px;
    margin: 0 auto;
    background: rgba(110, 110, 110, 0.808);
    display: none;
}
#log{
    display: block;
    margin: 90px auto 0;
}
.calcola {
    font-size: 40px;
    color: rgb(102, 153, 0);
}

button {
    padding: 25px;
    margin: 2px 2px;
    border-radius: 0;
    border: 0;
    font-size: 25px;
    cursor: pointer;
}

button:hover {
    background: #1b1b1b;
    color: #fff;
}

.wrap {

    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #1b1b1b;
    box-shadow: 0 0 40px 2px;

    #display {
        height: 100%;
        border: 2px solid #1b1b1b;

        #display-up {
            height: 20px;
            margin-right: 5px;
        }

        #display-down {
            //border: 1px solid red;
            height: 40px;
            font-size: 32px;
            margin-right: 5px;
        }
    }

    .calculator-body {
        display: flex;
        margin-top: 20px;
    }

    #op{
        #delete{
            font-size: 16px;
            
        }
        button{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        }
        display: flex;
        border: 1px solid #1b1b1b60;
        margin-left: 5px;
        flex-direction: column;
        justify-content: space-around;


    }

    #number {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #display {
        text-align: end;

    }
}