*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    padding: 30px;
    margin: 2px 2px;
    border-radius: 0;
    border: 0;
    font-size: 25px;
}
button:hover{
    background: #1b1b1b;
    color: #fff;
}
.wrap{
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #1b1b1b;
    #display{
        height: 100%;
        border: 2px solid #1b1b1b;
        #display-up{
            height: 20px;
        }
        #display-down{
        border: 1px solid red;
        height: 40px;
        }
    }
    .calculator-body{
        display: flex;
        margin-top: 20px;
    }
    #operation {
        display: grid;
        border: 1px solid #1b1b1b;
        margin-left: 5px;
    }
    #number{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #display{
        text-align: end;
        
    }
}